.header {
    padding: 20px 0px;
    // border-bottom: 1px #cacaca solid;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-link {
        position: relative;
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
        text-decoration: none;
        color: #162232;
        transition: ease 0.5s;
    }

    &__logo-a {
        position: relative;
        transition: ease-in 0.5s;
        transform: rotate(0deg);
        z-index: 10;
    }

    &__burger-btn {
        display: none;
        width: 30px;
        height: 28px;
        border: none;
        background-color: transparent;
        background-image: url("../../Assets/Img/Icon/menu.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    
    &__logo-link:hover &__logo-a {
        color: dodgerblue;
    }
}

@media (prefers-color-scheme: dark) {
    .header {
        &__logo-link {
            color: #fff;
        }
    }
}

// Responsiv Table //

@media only screen and (max-width: 768px) {
    .header {
        padding: 25px 0px;
        &__burger-btn {
            display: flex;
        }

        .nav--open {
            display: flex;
        }
    }
}

@media only screen and (max-width: 368px) {
    .header {
        padding: 30px 0px;
    }
}
