.header {
    padding: 20px 0px;
    // border-bottom: 1px #cacaca solid;

    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo-link {
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
        text-decoration: none;
        color: #162232;
    }
}